<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Add Quote</title>
</head>
<body>
    <h1 class="text-primary text-center p-5 bg-white">Add Quote</h1>
    <%- include("partials/nav.ejs") %>
    <br>
    <form id="addQuoteForm" action="/addQuote" method="POST">
        Quote:
        <textarea id="quoteText" name="quote"></textarea><br>
        Author:
        <select name="authorId">
                <% for (row of rows) { %>
                    <option value="<%=row.authorId%>"><%=row.firstName%> <%=row.lastName%></option>
                <% } %>
        </Select><br>
        Category:
        <select name="Category">
                <% for (row of rows2) { %>
                    <option value="<%=row.category%>"><%=row.category%></option>
                <% } %>
        </select>
        <button>Add Quote</button>
        <p id="errorMsg"></p>
    </form>
    <%- include("partials/footer.ejs") %>
    <script src="/js/script.js"></script>
</body>
</html>