<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Quotes</title>
</head>
<body>
    <h1 class="text-primary text-center p-5 bg-white">Quotes</h1>
    <%- include("partials/nav.ejs") %>
    <br>

    <% for (let i of quotes) { %>
        <a href="/updateQuote?quoteId=<%=i.quoteId%>" class="btn btn-primary">Update</a>
        <a href="/deleteQuote?quoteId=<%=i.quoteId%>" class="btn btn-danger">Delete</a>
        <strong><%= i.quoteId %></strong> <%= i.quote %> <br><br>
    <% } %>
    <%- include("partials/footer.ejs") %>
</body>
</html>